<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card rounded-3 shadow card-animation card-equal-height">
        <img class="card-img-top img-fluid" src="/assets/x-ray.jpg" alt="Image 1">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <button class="btn btn-primary" (click)="goToXRay()">Get Your X-RAY Analyse</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card rounded-3 shadow card-animation card-equal-height">
        <img class="card-img-top img-fluid" src="/assets/mri.jpg" alt="Image 2">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <button class="btn btn-primary">Get Your MRI Analyse</button>
        </div>
      </div>
    </div>
  </div>
</div>